
.about-content{
  background-color: #012e45;
  position: relative;
}

.text-who{
  color: #eceff1;
  padding-bottom: 6%;
  font-size: 19px;
  max-width: 80%;
  margin: auto;
  padding-top: 0px;
  position: relative;
  text-transform: uppercase;
}

.about-title{
  font-size: 46px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: -140px;
}

#about-content h2 {
  font-size: 24px;
  padding: 20px 10px;
  margin: auto;
  text-align: center;
  font-weight: 200;
  max-width: 60%;
}

.padding-text{
  padding-left: 3em;
}

#about-content .box-img {
  padding: 20px;
  max-width: 300px;
}

#about-content .box-img img {
  max-width: 100%;
}

#about-content .about-img-text {
  padding: 5% 10%;
}

#about-content .about-img-text img {
  width: 135px;
  height: 120px;
}


#about-content .about-img-text p {
  font-size: 1.2rem;
}

#about-who .main-abt-who .contain-wh .abt-img-txt .blk-text {
  max-width: 66%;
  margin-left: 10px;
}

@media only screen and (max-width: 767px){
  .text-who{
    margin-bottom: 30px;
    font-size: 13px;
    padding-top: 10px;
  }
  .about-title{
    font-size: 30px;
    top: -40px;
  }
  #about-content .about-img-text img {
    width: 75px;
    height: 70px;
  }
  .padding-text{
    padding-left: 1.5em;
  }
}

