/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';
@import "_colors.scss";
@import "_navigation.scss";
@import "_footer.scss";

/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

//Test Change
body{
  padding: 0;
  margin: 0;
  #heading{
    display: flex;
    flex-direction: row;
    background-color: rgba($dark-black,0.7);
    padding: 8px 24px 8px 16px;
    align-items: baseline;
  }
  #wrapper{
    margin: 0;
    padding: 0;
  }
  #heading .site-title .dis-dt {
    max-width: 320px;
  }
  #heading .site-title .dis-dt img {
    margin: auto 0px;
    height: 50px;
    width: 80%;
  }
  .site-title{
    align-items: baseline;
  }
  .navigation-container{
    width: 100%;
  }
}