/*@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";*/

#pathmazing-contact {
    background-color: #282c2d;
    color: white;
    padding: 30px 0;
}

#pathmazing-contact p.lead {
    font-size: 1.5em;
}

#pathmazing-contact label{
    color: white;
}

#pathmazing-contact .contact-location {
    margin-top: 20px;
    background-image: url("https://pathmazing.com/img/contact/maps.png");
    width: 90%;
    height: 50%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

#pathmazing-contact .btn-primary {
    padding: 7px 45px;
    font-weight: bold;
}

.animate{
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;"
}

.blk-map {
    margin: auto;
    max-width: 80%;
    max-height: 275px;
    overflow: hidden;
    margin-top: 25px;
}

input[type="radio"]{
    webkit-appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 50%;
    outline: none;
    background: #fff;
}
input[type=radio]:before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    padding: 7px;
    margin: 2% auto;
    border-radius: 50%;
}
input[type=radio]:checked:before {
    background: #2bafe3;
}
