#home-banner{
  color: inherit;
  background-color: #05415d;
}

#home-banner .bg-banner {
  background-image: url(https://pathmazing.com/img/home-banner.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  /*-webkit-animation: changeBckg 0s ease infinite;*/
  animation: changeBckg 30s ease-in-out infinite;

}

#home-banner .banner-title {
  background: linear-gradient(to bottom, rgba(8, 8, 8, 0.01), rgba(5, 61, 86, 0.61), #053e59);
  width: 100%;
  position: absolute;
  padding-bottom: 70px;
  top: 62vh;
  left: 0;
  right: 0;
  color: #fff;
  height: 180px;

}

.banner-title h1 {
  font-size: 2.4rem;
  letter-spacing: 1px;
}

@-webkit-keyframes changeBckg {
  0% {  background-image: url("https://pathmazing.com/img/home-banner.png"); }
  25% {  background-image: url("https://pathmazing.com/img/bg-home1-new.jpg"); }
  50% { background-image: url("https://pathmazing.com/img/bg-home2-new.jpg"); }
  75% {background-image: url("https://pathmazing.com/img/bg-home3-new.jpg"); }
  100% {background-image: url("https://pathmazing.com/img/home-banner.png"); }
}

@keyframes changeBckg {
  0% {  background-image: url("https://pathmazing.com/img/home-banner.png"); }
  25% {  background-image: url("https://pathmazing.com/img/bg-home1-new.jpg"); }
  50% { background-image: url("https://pathmazing.com/img/bg-home2-new.jpg"); }
  75% {background-image: url("https://pathmazing.com/img/bg-home3-new.jpg"); }
  100% {background-image: url("https://pathmazing.com/img/home-banner.png"); }
}

