@import "navigation/manage_controls";
@import "navigation/navbar";
@import "navigation/page";
@import "navigation/portlet";
@import "navigation/template_selector";

#navigation-items-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#navigation-items{
  color: $primary-text-color;
  font-size: 18px;
  &:hover{
    text-decoration: none;
  }
}